<%- include("partials/header.ejs") %>
    <div class="jumbotron centered">
        <div class="container">
            <div class="row">
                <div class="gov-portal">
                    <h1>Government Portal</h1>
                </div>
                <div class="col-6 gov-home-proj">
                    <a class="btn btn-dark log1" href="/government/login/home2" role="button">View Projects</a>
                </div>
                <div class="col-6 gov-home-issue">
                    <a class="btn btn-dark log1 " href="/governmentIssue" role="button">View Issues</a>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>