<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Home</title>
</head>
<body>
    <div class="jumbotron centered">
        <div class="container">
          <a class="btn btn-light btn-lg" href="/government/login/home2" role="button">View Projects</a>
          <a class="btn btn-dark btn-lg" href="/governmentIssue" role="button">View Issues</a>
        </div>
    </div>
</body>
</html>