<%- include("partials/header.ejs") %>

    <!-- Options -->

    <div>
      <% if(userLoggedIn === true && govLoggedIn === false){ %>
        <a href="/user/login/home2/infra">
          <button>Infrastructure</button>
        </a>
        <a href="/user/login/home2/services">
          <button>Services</button>
        </a>
        <a href="/user/login/home2/inititative">
          <button>Initiative</button>
        </a>
      <% } else { %>
        <a href="/government/login/home2/infra">
          <button>Infrastructure</button>
        </a>
        <a href="/government/login/home2/services">
          <button>Services</button>
        </a>
        <a href="/government/login/home2/inititative">
          <button>initiative</button>
        </a>        
      <% } %>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>