<%- include("partials/header.ejs") %>
    <div class="row">
      <div class="col-8 auth-left">
        <h1 class="tagline">Empowering citizens,<br> Enhancing Governance</h1>
        <h2 class="tag">Your Voice, Our Action</h2>
        <img src="" alt="">
      </div>
      <div class="col-4 auth-right">
        <div class=" centered">
          <div class="container buttons-log">
            <a class="btn btn-light log" href="/user" role="button"><h4 class="log-bt">User Login</h4></a>
            <br>
            <br>  
            <a class="btn btn-light log" href="/government" role="button"><h4 class="log-bt">Government Login</h4></a>
        </div>
      </div>
    </div>
    </div>
    
</body>
</html>