<%- include("partials/header.ejs") %>
    <form action="/trackprogress" method="post">
        <label for="">Enter Month</label>
        <input type="text" name="month" id="" placeholder="eg: Jan-22">
        <input type="number" name="percent">
        <button type="submit">Submit</button>
    </form>
</body>
</html>