/* Feedback CSS */

.rating {
    margin-top: 10px;
    border: none;
    float: left;
  }
  
.rating > label {
  color: #90A0A3;
  float: right;
}

.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #F79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FECE31;
}

/* Authentication */

.auth-left {
  background-color: #072138;
  color: #d292ff;
  height: 90vh;
  text-align: left;
}

.tagline {
  margin-top: 33vh;
  margin-left: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

.tag {
  margin-left: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.auth-right {
  background-color: black;
  color: #d292ff;
  height: 90vh;
  text-align: center;
}

.buttons-log {
  margin-top: 38vh;
  
}

.log {
  width: 250px;
  height: 45px;
  background-color: #1D24CA;
}

.log-bt {
  color: white;
}

.log:hover {
  color: #1D24CA !important;
  text-decoration: none;
}

/* Government Login Page */
.gov-login {
  margin: auto;
  height: 40%;
  width: 40%;
  border: solid;
  border-color: black;
  border-radius: 2%;
  padding: 20px;
  margin-top: 20vh;
  background-color: #072138;
  color: white;
}

/* Government Portal */

.gov-home-proj {
  text-align: right;
  margin-top: 10vh;
}

.gov-home-issue {
  margin-top: 10vh;
  text-align: left;
}

.log1 {
  width: 250px;
  height: 45px;
}

.gov-portal {
  text-align: center;
  margin-top: 130px;
}

.jumbotron {
  background-color:antiquewhite;
  height: 90vh;

}

/* User Home 2 */

.userrow {
  height: 10vh;
}


